<section class="auth nunito section">
    <div class="loading-container" *ngIf="loading">
        <div class="content">
            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
            <h1 class="loading">Cargando...</h1>
        </div>
    </div>
    <div class="auth-container" *ngIf="!loading">
        <div class="logo">
            <img src="../../../assets/img/icon.png" alt="logo de la aplicación">
        </div>
        <div class="qr-container card">
            <div class="card-title">
                <h1>Escanee este código QR</h1>
            </div>
            <div class="card-body">
                <div class="qr">
                    <ngx-qrcode
                    [elementType]="elementType"
                    [value]="value"
                    [errorCorrectionLevel]="errorCorrectionLevel"
                    cssClass="qrcode">
                    </ngx-qrcode>
                </div>
                <div class="info-container">
                    <p class="text">
                        Para poder tener acceso a los contactos que estan en su aplicación movil,
                        es necesario que escanee este código QR.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
