.auth {
    display: flex;
    justify-content: center;
}

.loading-container{
    display: flex;
    align-items: center;
}

.spinner-border{
    display: block;
    margin: 0 auto;
    margin-top: -30px;
    height: 200px;
    width: 200px;
    color: rgba(240, 248, 255, 0.514);
}

.loading{
    text-align: center;
    margin-top: 70px;
    font-weight: bold;
    color: aliceblue;
}

.logo{
    background-color: #7abdf7;
    width: fit-content;
    height: fit-content;
    margin: 30px auto;
    padding: 25px;
    border-radius: 50%;
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.5);
}

.logo img{
    height: 50px;
    width: 50px;
}

.auth-container{
    padding-bottom: 50px;
}

.qr-container{
    box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.5);
    max-width: 1000px;
    margin: auto 30px;
    text-align: center;
    padding: 40px 90px;
}

.qr-container h1{
    font-weight: 900;
    color: #06345b;
}

.card-body{
    display: flex;
}

.qr{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 1px solid rgb(207, 207, 207);
    padding: 5px;
    padding-top: 10px;
    margin-right: 30px;
}

.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: justify;
}

.info-container-out{
    display: none;
    box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px;
    text-align: justify;
}


@media (max-width: 900px) {
    .info-container{
        font-size: 20px;
    }
}

@media (max-width: 740px) {
    .info-container{
        display: none;
    }
    .card-body{
        align-items: center;
        justify-content: center;
    }
    .info-container-out{
        display: block;
    }
    .qr-container{
        padding: 20px 30px;
    }
    .qr{
        margin-right: 0;
    }
}

@media (max-width: 607px) {
    .qr-container{
        padding: 10px 10px
    }
    .qr{
        margin-right: 0;
        padding: 0;
        padding-top: 0;
    }
}

@media (max-width: 410px) {
    .info-container-out{
        margin: 20px auto;
        font-size: 12px;
        width: 200px;
    }

    .qr-container h1{
        font-size: 22px;
        margin-top: 10px;
    }
}

@media (max-width: 380px) {
    .qr-container{
        padding: 5px
    }
}