.detail-title{
    margin: 0 auto;
    width: 300px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-bottom: 20px;
}

.detail-title p{
    font-weight: bold;
    font-size: 25px;
    margin: 10px auto;
}

.info-contacto{
    margin: auto 30px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1rem;
}

.info .title{
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    margin: auto auto;
    margin-bottom: 15px;
    width: 100px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.info{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    padding: 20px;
    height: fit-content;
    overflow-y: auto;
}

.text{
    color: grey;
    font-weight: bold;
    width: fit-content;
    margin: 8px auto;
}

.color div{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.clecked{
    cursor: pointer;
}

.numeros{
    max-height: 180px;
}

.correo-container, .numero-container{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-evenly;
    height: 35px;
}

.numero-container{
    width: 220px;
}

.correo-container{
    width: 240px;
}

.numero-container:hover span, .correo-container:hover span{
    animation: bounceInRightNormal 0.3s;
}

.numero-container:not(:hover) span, .correo-container:not(:hover) span{
    animation: bounceInLeftNormal 0.3s;
}

.correo-container:hover i{
    display: block;
}

.correo-container:not(:hover) i{
    display: none;
}

.correo-container span, .numero-container span{
    color: grey;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
}

.fad, .fas{
    display: none;
    background-color: rgba(218, 218, 218, 0.508);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 10px;
    height: 28px;
    width: 31px;
    text-align: center;
    cursor: pointer;
    animation: bounceInLeft 0.3s;
}

.fas{
    color: rgb(40, 173, 40);
}

.fad{
    color: rgb(27, 124, 203);
}


@media (max-width: 700px) {
    .info-contacto{
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 470px) {
    .info-contacto{
        grid-template-columns: repeat(1, auto);
    }
}