<section class="details section nunito">
    <div class="detail-title card">
        <p>Información de contacto</p>
    </div>
    <div *ngIf="contacto" class="info-contacto">
        <div class="nombre card info">
            <p class="title">Nombre</p>
            <p class="text">{{contacto.nombre}}</p>
        </div>
        <div class="relacion card info">
            <p class="title">Relación</p>
            <p class="text">{{contacto.relacion}}</p>
        </div>
        <div class="descripcion card info">
            <p class="title">Descripción</p>
            <p class="text">{{contacto.descripcion}}</p>
        </div>
        <div class="numeros card info">
            <p class="title">Números</p>
            <div class="numero-container" *ngFor="let numero of contacto.numeros; let i = index;" (mouseenter)="manejoDeNumeros(i)" (mouseleave)="manejoDeNumeros(i)">
                <span>{{numero.numero | phoneformat}}</span> 
                <i [id]="i" (click)="llamar(numero.numero)" class="fas fa-phone-alt"></i>
            </div>
        </div>
        <div class="correo card info">
            <p class="title">Correo</p>
            <div class="correo-container">
                <span>{{contacto.correo}}</span> 
                <i (click)="enviarCorreo(contacto.correo)" class="fad fa-envelope"></i>
            </div>
        </div>
        <div class="color card info">
            <p class="title">Color</p>
            <div [style.backgroundColor]="contacto.color"></div>
        </div>
    </div>
</section>
