<div class="buscador card">
    <input type="text" class="form-control" placeholder="¿Buscas un contacto?">
    <div class="radio-list">
        <div name="radio-group" class="radio-group">
          <div class="check-container">
            <div class="form-check">
                <label class="form-check-label" for="nombre"><i class="fad fa-address-card"></i></label>
                <input class="form-check-input" type="radio" name="filtro">
              </div>
          </div>
          <div class="check-container">
            <div class="form-check">
                <label class="form-check-label" for="relacion"><i class="fad fa-user-friends"></i></label>
                <input class="form-check-input" type="radio" name="filtro">
              </div>
          </div>
          <div class="check-container">
            <div class="form-check">
                <label class="form-check-label" for="numeros"><i class="fas fa-phone-alt"></i></label>
                <input class="form-check-input" type="radio" name="filtro">
              </div>
          </div>
        </div>
    </div>
</div>
