<section class="list section">
    <div class="content">
        <div *ngIf="buscador" class="buscador">
            <app-buscador></app-buscador>
        </div>
        <div *ngIf="!contactos || contactos.length === 0" class="no-contactos">
            <p>No hay contactos para mostrar.</p>
        </div>
        <div class="contactos">
            <app-contacto class="contacto" [clicked]="clicked === i" [contacto]="contacto" *ngFor="let contacto of contactos; let i = index" (click)="setActualContactClicked(i)"></app-contacto>
        </div>
    </div>
</section>
