.list{
    min-width: 340px;
}
.content{
    padding-bottom: 20px;
}

.contacto{
    background-color: white;
    height: fit-content;
    border-radius: 6px;
    animation: bounceInRight 0.3s;
}

.contactos{
    margin: auto 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
}

.no-contactos{
    margin: 50px auto;
    max-width: 600px;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.902);
    padding: 50px 30px;
    border-radius: 20px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-align: center;
}

@media (max-width: 1200px) {
    .contactos{
        grid-template-columns: repeat(5, 1fr)
    }
}

@media (max-width: 980px) {
    .contactos{
        grid-template-columns: repeat(4, 1fr)
    }
}

@media (max-width: 813px) {
    .contactos{
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (max-width: 606px) {
    .contactos{
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (max-width: 450px) {
    .contactos{
        grid-template-columns: repeat(1, 1fr)
    }

    .no-contactos{
        max-width: 400px;
        max-width: 300px;
        padding: 30px;
    }
}

@media (max-width: 397px) {
    .list{
        padding-top: 100px;
    }
}


/* ------------------------------------------------------------------------ */

.loading{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-top: 100px;
}

 .ldio-iyss5lzchg9 div {
   position: absolute;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   transform: translate(80px,80px) scale(1);
   background: #f34651;
   animation: ldio-iyss5lzchg9 1s infinite cubic-bezier(0,0.5,0.5,1);
 }
 .ldio-iyss5lzchg9 div:nth-child(1) {
   background: #3b72f3;
   transform: translate(148px,80px) scale(1);
   animation: ldio-iyss5lzchg9-r 0.25s infinite cubic-bezier(0,0.5,0.5,1), ldio-iyss5lzchg9-c 1s infinite step-start;
 }.ldio-iyss5lzchg9 div:nth-child(2) {
   animation-delay: -0.25s;
   background: #f34651;
 }.ldio-iyss5lzchg9 div:nth-child(3) {
   animation-delay: -0.5s;
   background: #3b72f3;
 }.ldio-iyss5lzchg9 div:nth-child(4) {
   animation-delay: -0.75s;
   background: #aa4ef3;
 }.ldio-iyss5lzchg9 div:nth-child(5) {
   animation-delay: -1s;
   background: #e6db3d;
 }
 .loadingio-spinner-ellipsis-a7nypmcn3of {
   width: 200px;
   height: 200px;
   display: inline-block;
   overflow: hidden;
   background: none;
 }
 .ldio-iyss5lzchg9 {
   width: 100%;
   height: 100%;
   position: relative;
   transform: translateZ(0) scale(1);
   backface-visibility: hidden;
   transform-origin: 0 0; /* see note above */
 }
 .ldio-iyss5lzchg9 div { box-sizing: content-box; }

 @keyframes ldio-iyss5lzchg9 {
    0% { transform: translate(12px,80px) scale(0); }
   25% { transform: translate(12px,80px) scale(0); }
   50% { transform: translate(12px,80px) scale(1); }
   75% { transform: translate(80px,80px) scale(1); }
  100% { transform: translate(148px,80px) scale(1); }
 }
 @keyframes ldio-iyss5lzchg9-r {
    0% { transform: translate(148px,80px) scale(1); }
  100% { transform: translate(148px,80px) scale(0); }
 }
 @keyframes ldio-iyss5lzchg9-c {
    0% { background: #f34651 }
   25% { background: #e6db3d }
   50% { background: #aa4ef3 }
   75% { background: #3b72f3 }
  100% { background: #f34651 }
 }